# Custom index URL for specific packages
--extra-index-url https://download.pytorch.org/whl/cu124

bitsandbytes==0.44.0
tensorboard==2.15.2
tensorflow==2.15.0.post1
onnxruntime-gpu==1.19.2

-r requirements.txt
